{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Как составлять запросы?</h1>
                    <p>
                        Основное правило — запрос может включать в себя от 1 до 3 токенов включительно;
                        при превышении лимита будет возникать сообщение об ошибке.
                    </p>
                    <p>
                        Корпус поддерживает 4 формата запросов:
                    </p>
                    <ol>
                        <li>
                            При вводе слова без кавычек поиск осуществляется по всем словоформам.
                            При таком запросе лексема может стоять в любой грамматической форме,
                            так как перед поиском она лемматизируется,
                            и после этого выводятся все возможные словоформы, соответствующие лемме.
                            Так, по запросу <i>ночью</i> выведутся все предложения,
                            где содержаться словоформы <i>ночь</i> <i>ночи</i> <i>ночью</i> и т.д.
                        </li>
                        <li>
                            Если вы хотите посмотреть предложения с конкретной словоформой,
                            то достаточно поставить токен в двойные кавычки. Например, по запросу "ночами"
                            выведутся только те предложения, где встречается эта конкретная словоформа.
                        </li>
                        <li>
                            Если вы хотите найти вхождения всех слов, которые соответствуют определённой части речи,
                            вы можете ввести один из тегов, соответствующий списку Universal POS tags.<br>Примеры:
                            <ul>
                                <li>NOUN — найдутся все предложения, где есть существительное.</li>
                                <li>ADV — найдутся все предложения, где есть наречие.</li>
                                <li>NUM — найдутся все предложения, где есть числительное.</li>
                            </ul>
                            Со списоком всех доступных тегов можно ознакомиться внизу страницы.
                        </li>
                        <li>
                            Запрос вида грамматическая форма+POS-тег покажет все предложения,
                            в которых встречается эта словоформа с заданной частью речи.
                            Обратите внимание, что при таком формате словоформа <strong>не лемматизируется.</strong><br>Примеры:
                            <ul>
                                <li>дома+NOUN — найдутся все предложения, где есть существительное в заданной форме.</li>
                                <li>дома+ADV — найдутся все предложения, где есть наречие в заданной форме.</li>
                            </ul>
                        </li>
                    </ol>
                    <p>
                        Токены в запросах для би- или триграмм должны разделяться пробелами.
                        Форматы запросов можно комбинировать в рамках последовательности токенов, например,
                        допустимо задать поиск по триграмме <b>"он" идти CCONJ</b> или биграмме <b>стакан то+PART</b>.
                    </p>
                    <p>
                        Список всех POS-тегов, которые можно использовать при составлении запросов:
                    </p>
                    <ul>
                        <li>ADJ — прилагательное</li>
                        <li>ADP — предлог</li>
                        <li>ADV — наречие</li>
                        <li>AUX — вспомогательный глагол (например, "быть" в конструкции <i>буду работать</i>)</li>
                        <li>CCONJ — сочинительный союз</li>
                        <li>
                            DET — некоторые определительные, указательные, притяжательные, относительные местоимения
                            (<i>такой</i>, <i>мой</i>, <i>каждый</i>, <i>какой</i> и др.)
                        </li>
                        <li>INTJ — междометие</li>
                        <li>NOUN — существительное</li>
                        <li>NUM — числительное</li>
                        <li>PART — частица</li>
                        <li>PRON — местоимение</li>
                        <li>PROPN — имя собственное</li>
                        <li>SCONJ — подчинительный союз</li>
                        <li>VERB — глагол</li>
                        <li>X — другое (в большинстве случаев в корпусе этим тегом размечены слова на иностранных языках)</li>
                    </ul> 
            </div>
        </div>    
    </div>
{% endblock %}